<h3>以下の内容でつぶやきます。よろしいですか？</h3>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>~ ~ ~ つぶやき ~ ~ ~</p>
    <%= @post.content %>
  <%= form.submit  "つぶやく" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
