<!DOCTYPE html>
<html>
  <head>
    <title>RailsKadai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <img src="../../images/すずめ.png">
      <div class="top"><a href="/tops">TOP</a></div>
    </header>
    <%= yield %>
    <footer>
      <p>DIVER TEXT</p>
    </footer>
  </body>
</html>
